<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
	</head>
	
	
	<body>
		<div class="container-fluid h-100">

			<div class="page-header">
				<button class="notification-btn">
				<a href="http://127.0.0.1:5500/templates/notifications.html" >Set notification</a>
				</button>
				<button class="test-btn">
				<a href="http://127.0.0.1:5500/templates/notifications.html">Give Test</a>
				</button>
			</div>

			<div class="row justify-content-right h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://play-lh.googleusercontent.com/eoqEqzfbq0yVRVPxydRT4gdGs5ZS5BDvOWT7lfchio_Wqzf2qR-Ke3q0wSdxpdx2zDQF=w240-h480-rw" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Andy</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>

							<!-- //added code -->
							<div id="loading" class="spinner"></div>
							
						</div>
					</div>
				</div>

				   <!-- New Column for Video -->
					 <div class="col-md-4 col-xl-6">
						<!-- Add your locally hosted video here -->
						
								<img id="animatedImage" src="" alt="User Image" class="animation">
				    </div>

			</div>
		</div>
		
		<script>

			$(document).ready(function() {

				var animatedImage = document.getElementById('animatedImage');
            var isChatbotSpeaking = false;

            // function playAnimatedImage() {
            //     animatedImage.src = animatedImage.src; // This reassigns the same source, effectively restarting the animation
            // }

            function stopAnimatedImage() {
                animatedImage.src = 'https://i.postimg.cc/XvfJm2KQ/removal-ai-1dab7ebe-b507-4aa2-b56a-2a81ecd81dab-screenshot-2024-01-18-020858.png'; // This stops the animation by clearing the source
								//stopped gif image
            }
       
						stopAnimatedImage();

				$("#messageArea").on("submit", function(event) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					var rawText = $("#text").val();

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
					
					$("#text").val("");
					$("#messageFormeight").append(userHtml);

					// Show loading spinner
					$('#loading').show();
					
					// Set a timeout to hide the loading spinner after 1 second (adjust as needed)
					var timeout = setTimeout(function () {
						// $('#loading').hide();
						
						animatedImage.src = 'https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWw5dXFoMW5mZmVpbGh4ejR0NXU1cnVrdGVnMmMzd2pnanBsM3o0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/G8n5nRXILhcXLe8t2Y/giphy.gif';
					}, 4000);
					
					stopAnimatedImage();

					$.ajax({
						data: {
							msg: rawText,	
						},
						type: "POST",
						url: "/get",
					}).done(function(data) {
						// var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://play-lh.googleusercontent.com/eoqEqzfbq0yVRVPxydRT4gdGs5ZS5BDvOWT7lfchio_Wqzf2qR-Ke3q0wSdxpdx2zDQF=w240-h480-rw" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						// $("#messageFormeight").append($.parseHTML(botHtml));
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://play-lh.googleusercontent.com/eoqEqzfbq0yVRVPxydRT4gdGs5ZS5BDvOWT7lfchio_Wqzf2qR-Ke3q0wSdxpdx2zDQF=w240-h480-rw" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data.text_response + '<span class="msg_time">' + str_time + '</span></div></div>';
		       $("#messageFormeight").append($.parseHTML(botHtml));
						stopAnimatedImage();

						var audio = new Audio(data.voice_response);
		        audio.play();

						// Hide loading message on success
						$('#loading').hide();
					});
					event.preventDefault();
				});
			});

			

		</script>
        
    </body>
</html>